{% extends 'base.html' %}

{% block title %} List cards {% endblock title %}

{% block content %}
{% load static %}

    <div class="container mx-auto">
        <h1>To do List</h1>
        <div class="d-flex flex-column">
        {% for card in cards %}
            <div class="card w-100 p-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"> Card #{{ card.pk }}</h5>
                <p class="card-text">{{ card.name }}</p>
                  <a href="{% url 'card-view' card.pk %}">View</a>
                <button type="button" class="btn btn-primary"><p>{{ card.get_status_display }}</p></button>
                <button type="button" class="btn btn-light"><p>{{ card.date }}</p></button>
                <a href="/delete?id={{ card.pk }}" class="btn btn-danger"><p> Delete</p></a>
              </div>
            </div>
        {% endfor %}
        </div>
        <a class="btn btn-info" href="/new">New</a>
    </div>
{% endblock content %}